.name-input {
  padding: 0 0.5rem;
  min-width: 2rem;
  background-color: var(--background-d2);
  font-size: 1.25rem;
  outline: none;
  height: 1.5rem;
  width: 16rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: 700;
}

.name-input::placeholder {
  font-weight: 600;
}

.year-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.year-columns .card.year-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.year-columns .card.year-column .class-slots {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.year-columns .card.year-column .class-slots .class-slot {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  max-width: 16rem;
  width: 100%;
  min-width: 12rem;
}

.year-columns .card.year-column .class-slots .class-slot button {
  flex: 1;
  padding: 0 0.25rem;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  line-height: 0.9;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  box-sizing: border-box;
}

.year-columns .card.year-column .year-column-info {
  color: var(--text-light);
  text-align: left;
}

/*  */

button.white {
  background-color: var(--background);
  color: var(--text-light);
}

button.white:hover {
  background-color: var(--background-d1);
}

.year-columns .card .class-slot button.white.selected {
  background-color: var(--background-d1);
}

.class-slot button.selected,
button.filled.highlight,
button.filled:hover {
  outline: 2px solid var(--accent);
}

button.filled.error {
  outline: 2px solid var(--error);
}

/*  */

.class-selector div.header {
  display: flex;
  gap: 2rem;
}

.class-selector div.department-list,
.class-selector div.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}

.class-selector button:disabled,
.class-selector button.filled:disabled:hover {
  opacity: 0.5;
  cursor: default;
  outline: none;
}

/*  */

.credit-requirements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem 2rem;
}

.credit-requirements div {
  font-weight: 500;
  font-size: var(--text-size);
}

.bar-wrapper {
  height: 0.5rem;
  background-color: var(--background);
  padding: 0;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
}

.bar-wrapper .bar {
  height: 8px;
  padding: 0;
  border-radius: 0.25rem;
}

.error-messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-messages .error-message {
  margin: 0;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0 1rem;
  font-weight: 500;
  align-items: center;
  font-size: var(--text-size);
  color: var(--text-medium);
  line-height: 2rem;
  padding-left: calc(20px + 12px + 12px);
  box-sizing: border-box;
  background-color: var(--error-l1);
  color: var(--red-d);
  background-image: url("/error.svg");
  background-position: 12px 5px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .content {
    padding: 0;
    margin-bottom: 1rem;
    gap: 1rem;
    margin-top: 3rem;
  }
  .card {
    padding: 0.5rem;
    gap: 0.5rem;
  }
  div.year-columns {
    gap: 0.5rem;
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 1rem 1rem 0 1rem;
    max-width: 100vw;
  }
  div.name-bar {
    margin: 1rem 0 0 1rem;
  }

  .name-bar input {
    width: 50vw;
  }

  div.class-selector-wrapper,
  div.mobile-settings-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #00000080;
    pointer-events: auto;
  }

  div.class-selector.card {
    margin: 4rem 1rem 0 1rem;
    box-sizing: border-box;
    max-width: 100vw;
    z-index: 1001;
    overflow-x: scroll;
    overflow: hidden;
    padding: 1rem;
  }

  textarea {
    font-size: 16px;
  }

  div.class-selector.card div.department-list,
  div.class-selector.card div.class-list {
    gap: 8px;
    overflow: scroll;
    max-height: 50vh;
  }

  div.class-selector.card div button {
    max-width: none;
    /* font-size: 16px; */
  }

  button {
    outline: none !important;
  }

  div.class-selector.card .header {
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  div.class-selector.card .header input {
    max-width: none;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    font-size: 16px; /* prevent browser from zooming in */
  }

  .class-selector div.class-list {
    padding: 0;
  }

  div.class-selector.card .header h3 {
    margin: 0;
  }
  div.summary.card,
  div.notes.card {
    margin: 0 16px 0 16px;
    padding: 16px;
  }
  div.summary.card div.credit-requirements {
    gap: 8px;
  }
  div.summary.card div.error-messages {
    margin-top: 16px;
  }
  div.summary.card div.error-messages div {
    padding: 4px 40px;
    height: auto;
    min-height: 32px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  footer {
    padding: 16px !important;
    margin-top: auto;
    gap: 8px !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer div {
    white-space: nowrap;
  }
  footer div.spacer {
    display: none;
  }
}

/* printing */

@media print {
  body {
    background-color: white;
  }

  .card {
    gap: 1rem;
  }

  h3.title {
    display: none;
  }

  input.name-input {
    font-size: 1.25rem;
    color: black;
    z-index: 1005;
    /* margin-bottom: 2rem; */
    position: absolute;
    top: 0.75rem;
    right: 0;
    text-align: right;
    /* margin-top: 1rem; */
    font-weight: 700;
  }

  input.name-input::placeholder {
    color: transparent;
  }
  div.content {
    padding: 0.5rem 0 0 0;
    width: 100vw;
    gap: 16px;
  }
  div.content div.year-columns {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    box-sizing: border-box;
  }
  div.content div.year-columns div.card.year-column {
    gap: 0.5rem;
  }
  div.content div.year-columns div.card {
    border: none;
    padding: 0;
    box-shadow: none;
  }
  div.year-columns .card.year-column .class-slots .class-slot {
    min-width: 0;
  }

  div.mobile-settings {
    display: none !important;
  }

  div.content div.year-columns div.card h4 {
    margin: 0;
  }
  div.content div.year-columns div.card div.class-slot {
    min-width: auto;
  }

  div.content div.year-columns div.card button {
    box-shadow: none;
    border: 1px solid var(--background-d2);
  }

  button {
    outline: none !important;
  }

  button.filled {
    /* background-color: var(--background-d2) !important; */
    /* -webkit-print-color-adjust: exact; */
    color: black !important;
  }

  button.white {
    text-indent: -9999px !important;
  }

  div.summary.card,
  div.notes.card {
    box-shadow: none;
    border: 1px solid var(--background-d2);
    padding: 0 !important;
    border: none !important;
    margin-top: 1rem;
    box-shadow: none !important;
  }

  div.error-messages {
    display: none;
  }

  div.summary.card .credit-requirements {
    gap: 8px 16px !important;
  }

  div.class-selector-wrapper {
    display: none !important;
  }

  h3 {
    margin: 16px 0 -16px 0;
  }

  .card h3 {
    margin-top: 0;
    margin-bottom: 4px !important;
  }

  div.year-column-info {
    display: none;
  }

  .credit-requirements div .bar-wrapper {
    /* 
    border: 4px solid var(--background);
    box-sizing: border-box; */
    -webkit-print-color-adjust: exact;
    display: none;
  }

  .credit-requirements div .bar {
    /* 
    border: 4px solid var(--background-d2);
    box-sizing: border-box; */
    /* transform: translateY(-4px) translateX(-4px); */
    -webkit-print-color-adjust: exact;
    display: none;
  }

  .credit-requirements div {
    border-bottom: 1px dotted var(--background-d2);
    border-radius: 0 !important;
  }

  footer.normal-footer {
    display: none;
  }
  footer.print-footer {
    display: flex !important;
    padding: 1rem 0 0 0 !important;
    min-height: 2rem !important;
    border-top: 1px solid var(--background-d2) !important;
  }

  .notes-textarea {
    display: none !important;
  }
  .notes-print {
    display: block !important;
    height: 100%;
  }
}
