:root {
  /* background */
  --background-l1: #ffffff;
  --background: #f5f7f7;
  --background-d1: #e8ebf0;
  --background-d2: #d7dbe2;
  --background-d3: #c6cbd5;

  /* --background-l1: #202020;
  --background: #101010;
  --background: #101010;
  --background-d1: #101010;
  --background-d2: #505050;
  --background-d3: #606060; */

  /* text */
  --text: #101030;
  --text-medium: #505050;
  --text-light: #808080;

  /* font size */
  --text-size: 14px;
  --footer-text-size: 14px;
  --title-size: 24px;
  --heading-size: 20px;
  --small-heading-size: 16px;

  /* --text: #cfcfcf;
  --text-medium: #808080;
  --text-light: #505050; */

  /* other */
  --error: #f44747;
  --accent: #2463eb;

  /* department colors */
  --purple-l: #a692fa80;
  --green-l: #3ecc5f80;
  --yellow-l: #ffcb2e80;
  --blue-l: #438af580;
  --red-l: #f9574880;
  --gray-l: #9ea8be80;
  --orange-l: #fb992a80;
  --pink-l: #fc85a980;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  margin: 64px auto 32px auto;
  gap: 32px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

@media print {
  body {
    background-color: white;
  }
  div.content {
    padding: 0;
    max-width: 100vw;
    gap: 32px;
  }
  div.content div.class-display {
    gap: 0;
    max-width: 100%;
    grid-template-columns: calc(25% - 6px) calc(25% - 6px) calc(25% - 6px) calc(25% - 6px);
    gap: 8px;
    box-sizing: border-box;
  }
  div.content div.class-display div.container {
    border: none;
    padding: 0;
    box-shadow: none;
  }

  div.content div.class-display div.container h4 {
    margin: 0 0 0px 0;
  }
  div.content div.class-display div.container div.class-slot {
    min-width: auto;
  }

  div.content div.class-display div.container button {
    box-shadow: none;
    border: 1px solid var(--background-d2);
  }

  button.filled {
    /* background-color: var(--background-d2) !important; */
    /* -webkit-print-color-adjust: exact; */
  }

  button.white {
    text-indent: -9999px !important;
  }

  .topnav button {
    display: none;
  }
  .topnav {
    box-shadow: none !important;
    padding: 0 !important;
    height: 48px !important;
    border-bottom: 1px solid var(--background-d2) !important;
  }
  div.topnav div.logo img {
    max-width: auto !important;
    height: 26px !important;
  }

  div.summary.container {
    box-shadow: none;
    border: 1px solid var(--background-d2);
    padding: 24px !important;
  }

  div.error-messages {
    display: none;
  }

  div.summary.container .credit-requirements {
    gap: 16px 32px !important;
  }

  div.class-selector-wrapper {
    display: none !important;
  }

  h3 {
    margin: 16px 0 -16px 0;
  }

  .container h3 {
    margin-top: 0;
    margin-bottom: 16px !important;
  }

  div.selected-courses-info {
    display: none;
  }

  .credit-requirements div .bar-wrapper {
    /* 
    border: 4px solid var(--background);
    box-sizing: border-box; */
    -webkit-print-color-adjust: exact;
    display: none;
  }

  .credit-requirements div .bar {
    /* 
    border: 4px solid var(--background-d2);
    box-sizing: border-box; */
    /* transform: translateY(-4px) translateX(-4px); */
    -webkit-print-color-adjust: exact;
    display: none;
  }

  .credit-requirements div {
    border-bottom: 1px solid var(--background-d2);
    border-radius: 0 !important;
  }

  footer.normal-footer {
    display: none;
  }
  footer.print-footer {
    display: flex !important;
    padding: 16px 0 !important;
    font-size: 12px !important;
    border-top: 1px solid var(--background-d2) !important;
  }
  .topnav .print-header {
    display: flex !important;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-light);
  }
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .content {
    padding: 0;
    margin-bottom: 16px;
    gap: 16px;
    margin-top: 48px;
  }
  .container {
    padding: 8px;
  }
  h4 {
    margin-left: 4px;
    margin-bottom: 0;
  }
  div.class-display {
    gap: 8px;
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 16px 16px 0 16px;
    max-width: 100vw;
  }

  div.class-display .container div.selected-courses-info {
    margin-left: 8px;
    margin-top: 0;
  }
  h2 {
    white-space: nowrap;
    text-align: center;
  }
  h3 {
    margin: 16px 0 -24px 16px;
  }

  div.topnav {
    padding: 16px;
    height: 48px;
    justify-content: center;
  }
  /* div.topnav h4,
  div.topnav div,
  div.topnav input,
  div.topnav label {
    display: none;
  } */

  div.topnav div.logo img {
    max-width: auto;
    height: 26px;
  }

  div.mobile-settings {
    margin: 64px 16px 0 16px;
    box-sizing: border-box;
    max-width: 100vw;
    z-index: 1001;
    overflow-x: scroll;
    overflow: hidden;
    /* top: 64px; */
    padding: 16px;
    /* left: 16px; */
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    width: 100%;
    max-height: 50vh;
  }

  div.mobile-settings button {
    height: 40px;
  }

  button.mobile-options-button {
    background-image: url("../public/menu.svg");
    background-size: 24px 24px !important;
    background-position: center !important;
    background-repeat: no-repeat;
    box-shadow: none;
    position: fixed;
    left: 8px;
    top: 8px;
  }

  div.mobile-settings h3 {
    margin: 0;
  }

  div.class-selector-wrapper,
  div.mobile-settings-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #00000080;
    pointer-events: auto; /* Ensures clicks go to the overlay */
  }

  div.class-selector.container {
    margin: 64px 16px 0 16px;
    box-sizing: border-box;
    max-width: 100vw;
    z-index: 1001;
    overflow-x: scroll;
    overflow: hidden;
    /* top: 64px; */
    padding: 16px;
    /* left: 16px; */
  }

  div.class-selector.container div.department-list,
  div.class-selector.container div.class-list {
    gap: 8px;
    overflow: scroll;
    max-height: 50vh;
  }

  div.class-selector.container div button {
    max-width: none;
    /* font-size: 16px; */
  }

  div.class-selector.container .header {
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
  }
  div.class-selector.container .header input {
    max-width: none;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    font-size: 16px; /* prevent browser from zooming in */
  }

  div.class-selector.container .header h3 {
    margin: 0;
  }
  div.summary.container {
    margin: 0 16px 16px 16px;
    padding: 16px;
  }
  div.summary.container div.credit-requirements {
    gap: 8px;
  }
  div.summary.container div.error-messages {
    margin-top: 16px;
  }
  div.summary.container div.error-messages div {
    padding: 4px 40px;
    height: auto;
    min-height: 32px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  footer {
    padding: 16px !important;
    flex-direction: column;
    gap: 8px !important;
  }
  footer div.spacer {
    display: none;
  }
}

.class-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.class-display .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.class-display .container .class-slot {
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 240px;
  width: 100%;
  min-width: 180px;
}

.class-display .container .class-slot button {
  /* border: 1px solid var(--text-light); */
  height: 40px;
  flex: 1;
  min-width: 0;
  line-height: 14px;

  /* wrap for 2 lines then use ellipsis */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
}

.class-display .container .selected-courses-info {
  font-size: 14px;
  color: var(--text-light);
  font-weight: 500;
  margin-top: 8px;
}

/* empty slot */
div button.white {
  background-color: var(--background-l1);
  color: var(--text-light);
  border: 1px solid var(--background-d1);
}

/* empty slot hover */
div button.white:hover {
  background-color: var(--background);
  /* border: 1px solid var(--background-d1); */
}

/* empty slot selected */
.class-display .container .class-slot button.white.selected {
  background-color: var(--background-d1);
}

/* empty slot on click */
div button.white:active {
  background-color: var(--background-d1);
}

/* filled slot */
.class-display .container .class-slot button.filled {
  color: var(--text);
}

/* filled slot hover */
.class-display .container .class-slot button.filled:hover {
  opacity: 80%;
}

/* filled slot selected */
.class-display .container .class-slot button.filled.selected {
  opacity: 70%;
}

.class-selector div.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.class-selector div.department-list,
.class-selector div.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.class-selector button {
  height: 40px;
  background-color: var(--background-d1);
}

.class-selector button.filled:disabled:hover {
  opacity: 50%;
}

.class-selector button.filled:hover {
  opacity: 80%;
}

.class-selector button:disabled {
  /* background-color: var(--background);
  color: var(--text-light); */
  opacity: 50%;
  cursor: default;
}

.credit-requirements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px 32px;
  font-weight: 500;
}

.credit-requirements div .bar-wrapper {
  height: 8px;
  background-color: var(--background);
  padding: 0;
  margin-top: 4px;
}

.credit-requirements div .bar {
  height: 8px;
  padding: 0;
}

.credit-requirements div {
  font-weight: 500;
  border-radius: 4px;
  font-size: var(--text-size);
}

.error-messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.error-messages div {
  margin: 0;
  /* border: 1px solid var(--background-d1); */
  background-color: var(--background);
  border-radius: 8px;
  height: 32px;
  padding: 0 16px;
  font-weight: 500;
  align-items: center;
  font-size: var(--text-size);
  box-sizing: border-box;
  color: var(--text-medium);
  line-height: 32px;
  padding-left: calc(20px + 12px + 12px);
}

.error-messages div.error-message {
  background-image: url("../public/error.svg");
  background-position: 12px 6px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

input {
  box-shadow: 0 1px 1px 0 var(--background-d1);
  border: 1px solid var(--background-d1);
  background-color: var(--background);
  width: 25%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: var(--text-size);
  transition: 80ms;
  font-weight: 500;
  height: 32px;
}

button.red {
  background-color: var(--error);
  color: var(--background);
}

button.blue {
  background-color: var(--accent);
  color: var(--background-l1);
}

button.red:hover,
button.blue:hover {
  opacity: 80%;
}

button {
  border: none;
  font-size: var(--text-size);
  border-radius: 8px;
  cursor: pointer;
  transition: 80ms;
  align-items: center;
  justify-content: center;
  background-color: var(--background-1);
  color: #202020;
  font-family: inherit;
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Ensures words break if needed */
  overflow-wrap: break-word; /* Alternative word break handling */
  padding: 0 16px;
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
  box-shadow: 0 1px 1px 0 var(--background-d1);
}

footer {
  padding: 16px 64px;
  width: 100vw;
  box-sizing: border-box;
  min-height: 32px;
  background-color: var(--background-l1);
  margin-top: auto;
  border-top: 1px solid var(--background-d1);
  color: var(--text-light);
  font-size: var(--footer-text-size);
  font-weight: 500;
  display: flex;
  gap: 32px;
}

footer.print-footer {
  display: none;
}

footer a {
  color: var(--text-light);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .tos-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.tos {
  padding: 0 64px 32px 64px;
  font-size: var(--footer-text-size);
  background-color: var(--background-l1);
  color: var(--text-light);
}

.topnav {
  background-color: var(--background-l1);
  width: 100vw;
  box-sizing: border-box;
  padding: 16px 64px;
  height: 64px;
  box-shadow: 0 1px 1px 0 var(--background-d1);
  border-bottom: 1px solid var(--background-d1);
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.topnav .print-header {
  display: none;
}

.topnav div.logo {
  gap: 8px;
  align-items: center;
}

.topnav div {
  display: flex;
  gap: 16px;
}

.topnav button {
  height: 32px;
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.topnav button.reset {
  padding-left: 32px;
  background-image: url("../public/trash.svg");
}

.topnav button.print {
  padding-left: 32px;
  background-image: url("../public/print.svg");
}
.topnav button.copyurl {
  padding-left: 32px;
  background-image: url("../public/link.svg");
}

.topnav div.logo img {
  max-width: auto;
  height: 30px;
}
