:root {
  /* background */
  --background-l1: #ffffff;
  --background: #f5f7f7;
  --background-d1: #e5e7eb;
  --background-d2: #d7dbe2;
  /* --background-d3: #c6cbd5; */

  /* --background-l1: #202020;
  --background: #101010;
  --background: #101010;
  --background-d1: #101010;
  --background-d2: #505050;
  --background-d3: #606060; */

  /* text */
  --text: #101030;
  --text-medium: #505060;
  --text-light: #808090;

  /* font size */
  --text-size: 14px;
  --footer-text-size: 12px;
  --title-size: 24px;
  --heading-size: 20px;
  --small-heading-size: 16px;

  /* --text: #cfcfcf;
  --text-medium: #808080;
  --text-light: #505050; */

  /* other */
  --error: #f44747;
  --error-l1: hsl(0, 80%, 95%);

  --accent: #2463eb;

  /* department colors */
  --purple: hsl(252, 91%, 85%);
  --green: hsl(134, 58%, 65%);
  --yellow: hsl(45, 100%, 70%);
  --blue: hsl(216, 90%, 70%);
  --red: hsl(5, 100%, 70%);
  --gray: hsl(221, 25%, 75%);
  --orange: hsl(32, 96%, 70%);
  --pink: hsl(342, 95%, 75%);
  /* reduced saturation and increased lightness */
  --purple-l: hsl(252, 91%, 90%);
  --green-l: hsl(134, 58%, 80%);
  --yellow-l: hsl(45, 100%, 80%);
  --blue-l: hsl(216, 90%, 85%);
  --red-l: hsl(5, 100%, 85%);
  --gray-l: hsl(221, 20%, 85%);
  --orange-l: hsl(32, 96%, 80%);
  --pink-l: hsl(342, 95%, 85%);
  /* reduced lightness */
  --purple-d: hsl(252, 91%, 30%);
  --green-d: hsl(134, 58%, 20%);
  --yellow-d: hsl(45, 100%, 15%);
  --blue-d: hsl(216, 90%, 25%);
  --red-d: hsl(5, 100%, 20%);
  --gray-d: hsl(221, 40%, 20%);
  --orange-d: hsl(32, 96%, 15%);
  --pink-d: hsl(342, 95%, 20%);

  /* proficiency colors */
  --proficiency-e: #6f9ee6;
  --proficiency-ph: #6da758;
  --proficiency-p: #b7d7ac;
  --proficiency-ah: #fee5a1;
  --proficiency-a: #f4b374;
  --proficiency-b: #e89a9a;
}

.content {
  margin: 64px auto 32px auto;
  gap: 32px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

/* footer */

footer {
  padding: 16px 64px;
  width: 100vw;
  box-sizing: border-box;
  min-height: 32px;
  background-color: var(--background-l1);
  margin-top: auto;
  border-top: 1px solid var(--background-d1);
  color: var(--text-light);
  font-size: var(--footer-text-size);
  font-weight: 500;
  display: flex;
  gap: 32px;
}

footer div.copyright {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

footer img {
  height: 16px;
  filter: grayscale(0);
  width: auto;
}

footer a {
  color: var(--text-light);
  text-decoration: none;
}

footer a:hover,
footer .tos-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* tos */
.tos {
  padding: 0 64px 32px 64px;
  font-size: var(--footer-text-size);
  background-color: var(--background-l1);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tos p {
  margin: 0;
  max-width: 960px;
}

footer.print-footer {
  display: none;
}
