:root {
  /* background */
  --background-l1: #ffffff;
  --background: #f5f7f7;
  --background-d1: #e5e7eb;
  --background-d2: #d7dbe2;
  /* --background-d3: #c6cbd5; */

  /* --background-l1: #202020;
  --background: #101010;
  --background: #101010;
  --background-d1: #101010;
  --background-d2: #505050;
  --background-d3: #606060; */

  /* text */
  --text: #101030;
  --text-medium: #505050;
  --text-light: #808080;

  /* font size */
  --text-size: 14px;
  --footer-text-size: 12px;
  --title-size: 24px;
  --heading-size: 20px;
  --small-heading-size: 16px;

  /* --text: #cfcfcf;
  --text-medium: #808080;
  --text-light: #505050; */

  /* other */
  --error: #f44747;
  --accent: #2463eb;

  /* department colors */
  --purple-l: #a692fa80;
  --green-l: #3ecc5f80;
  --yellow-l: #ffcb2e80;
  --blue-l: #438af580;
  --red-l: #f9574880;
  --gray-l: #9ea8be80;
  --orange-l: #fb992a80;
  --pink-l: #fc85a980;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  margin: 64px auto 32px auto;
  gap: 32px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

/* the 4 columns' container */
.class-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

/* the columns */
.class-display .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* class slot */
.class-display .container .class-slot {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 240px;
  width: 100%;
  min-width: 180px;
}

/* class slot button */
.class-display .container .class-slot button {
  flex: 1;
  min-width: 0;
  padding: 0 4px;
  line-height: 14px;
  /* wrap for 3 lines then use ellipsis */
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  box-sizing: border-box;
}

/* AP count */
.class-display .container .selected-courses-info {
  font-size: 14px;
  color: var(--text-light);
  font-weight: 500;
  margin-top: 8px;
}

/* white button */
div button.white {
  background-color: var(--background-l1);
  color: var(--text-light);
  border: 1px solid var(--background-d1);
}

/* white button hover */
button.white:hover {
  background-color: var(--background);
}

/* empty slot selected */
.class-display .container .class-slot button.white.selected {
  background-color: var(--background-d1);
}

/* filled slot */
.class-display .container .class-slot button.filled {
  color: var(--text);
}

/* selected slot */
.class-slot button.selected {
  outline: 2px solid var(--accent);
  border-color: transparent;
}

/* filled slot hover */
button.filled:hover {
  opacity: 80%;
}
/* filled slot selected hover */
.class-display .container .class-slot button.filled.selected:hover {
  opacity: 100%;
}

.class-selector div.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.class-selector div.department-list,
.class-selector div.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  position: relative; /* Ensures ::after is positioned within this div */
}

/* disabled class button */
.class-selector button:disabled {
  opacity: 50%;
  cursor: default;
}
/* disabled class button hover */
.class-selector button.filled:disabled:hover {
  opacity: 50%;
  outline: none;
}

.credit-requirements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px 32px;
  font-weight: 500;
}

.bar-wrapper {
  height: 8px;
  background-color: var(--background);
  padding: 0;
  margin-top: 4px;
  border-radius: 4px;
}

.bar-wrapper .bar {
  height: 8px;
  padding: 0;
  border-radius: 4px;
}

.credit-requirements div {
  font-weight: 500;
  font-size: var(--text-size);
}

.error-messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.error-messages .error-message {
  margin: 0;
  border-radius: 8px;
  height: 32px;
  padding: 0 16px;
  font-weight: 500;
  align-items: center;
  font-size: var(--text-size);
  color: var(--text-medium);
  line-height: 32px;
  padding-left: calc(20px + 12px + 12px);
  box-sizing: border-box;
  background-color: var(--background-l1);
  border: 1px solid var(--background-d1);
  background-image: url("../public/error.svg");
  background-position: 12px 5px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

button.red {
  background-color: var(--error);
  color: var(--background);
}

button.blue {
  background-color: var(--accent);
  color: var(--background-l1);
}

button.red:hover,
button.blue:hover {
  opacity: 80%;
}

/* footer */

footer {
  padding: 16px 64px;
  width: 100vw;
  box-sizing: border-box;
  min-height: 32px;
  background-color: var(--background-l1);
  margin-top: auto;
  border-top: 1px solid var(--background-d1);
  color: var(--text-light);
  font-size: var(--footer-text-size);
  font-weight: 500;
  display: flex;
  gap: 32px;
}

footer div.copyright {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

footer img {
  height: 16px;
  filter: grayscale(0);
  width: auto;
}

footer a {
  color: var(--text-light);
  text-decoration: none;
}

footer a:hover,
footer .tos-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tos {
  padding: 0 64px 32px 64px;
  font-size: var(--footer-text-size);
  background-color: var(--background-l1);
  color: var(--text-light);
}

footer.print-footer {
  display: none;
}

/* topnav */

.topnav {
  background-color: var(--background-l1);
  width: 100vw;
  box-sizing: border-box;
  padding: 16px 64px;
  height: 64px;
  box-shadow: 0 1px 1px 0 var(--background-d1);
  border-bottom: 1px solid var(--background-d1);
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.topnav div {
  display: flex;
  gap: 16px;
}

.topnav .logo {
  gap: 8px;
  align-items: center;
}

.topnav .logo img {
  max-width: auto;
  height: 30px;
}

.topnav button {
  height: 32px;
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.topnav button.reset {
  padding-left: 32px;
  background-image: url("../public/trash.svg");
}

.topnav button.print {
  padding-left: 32px;
  background-image: url("../public/print.svg");
}
.topnav button.copyurl {
  padding-left: 32px;
  background-image: url("../public/link.svg");
}

.topnav .print-header {
  display: none;
}
