:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--background);
}

h2 {
  font-size: var(--title-size);
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: var(--heading-size);
  font-weight: 700;
  margin: 0 0 -16px 0;
}

div.container h3 {
  margin: 0 0 16px 0;
}

h4 {
  font-size: var(--small-heading-size);
  font-weight: 600;
  margin: 0 0 8px 0;
  text-align: center;

}

.container {
  background-color: var(--background-l1);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 1px 1px 0 var(--background-d1);
  border: 1px solid var(--background-d1);
  box-sizing: border-box;
  transition: 100ms;
}
