:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;

  line-height: 1;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--background);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.card {
  background-color: var(--background-l1);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 1px 4px 1px #00000008;
  /* border: 1px solid var(--background-d1); */
  box-sizing: border-box;
  font-size: 0.875rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

button {
  border: none;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 50ms;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-family: inherit;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0 1rem;
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
  background-color: var(--background);
  width: 25%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  transition: 50ms;
  font-weight: 500;
  height: 1.25rem;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: 2px solid var(--accent);
}

textarea {
  resize: none;
  background-color: var(--background);
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  font-weight: 500;
  line-height: 1.25;
  color: var(--text);
  font-size: 0.875rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.notes-print {
  display: none;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 500;
  white-space: pre-wrap;
  padding: 0;
  line-height: 1.25;
  color: var(--text);
  font-size: 0.875rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}
